html {
  height: 100vh;
  background: linear-gradient(to left, #b5b4b1,#FFFFF5);
  color: #08313A;
}

html.dark-mode {
  background: linear-gradient(to left, #08313A, #107869);
  color: #08313A;
}

body {
  height: 100vh;
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', 'Roboto', 'Oxygen',
    'Ubuntu', 'Cantarell', 'Fira Sans', 'Droid Sans', 'Helvetica Neue',
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New',
    monospace;
}

