button {
    display: flex;
    align-items: center;
    justify-content: center;
    line-height: 1;
    text-decoration: none;
    color: #ffffff;
    font-size: 18px;
    border-radius: 15px;
    width: 200px;
    height: 40px;
    font-weight: bold;
    border: 3px solid #9c1443;
    transition: 0.3s;
    background-color: #e91e63;
  }
  
 button:hover {
    transform: scale(1.05);
  }